body{
    margin: 0;
    background-size:auto;
    background-image: url(https://w-dog.ru/wallpapers/12/9/455651903076767.jpg);
    padding: 15px 0;
}
h1{
    font-family: 'Peddana', serif;

}
.aaa{
    color: whitesmoke;

}
.backgroundCover{
    background: linear-gradient(to bottom, #333, #333 30%, #990000 85%);
    box-shadow: -5px 5px 20px #000000;
    margin-top: 10px;

    position: sticky;
    top: 20px;
}
.box{
    /*text-align: center;*/
}
.imgReturn{
    width: 180px;
    height: 280px;
    margin-top: 25px;
}
.editButton{
    margin-top: 15px;
}
.borderOnClick{
    outline: 2px inset #990000
}
.marginList{
    padding-left: 40px;
}
.modeButton{
    margin: 30px 0;
}

@media only screen and (max-width: 992px) {

}


